<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Queenie | Fullstack | ios |</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community." />
		<meta name="keywords" content="YPC, Young Professional Council, VMC Foundation, Santa Clara County, Santa Clara Valley Medical Center, Women and Children’s Center, Raise funds, volunteer, promote community awareness, build partnerships, young leaders, positive impact, network, goal, expand."/>
		<link rel="icon" href="/static/images/logo/YPC.ico"/>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- jQuery -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="/static/js/jquery.waypoints.min.js"></script>
		<!-- countTo -->
		<script src="/static/js/jquery.countTo.js"></script>
		<!-- Magnific Popup -->
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/js/magnific-popup-options.js"></script>
		<!-- Stellar -->
		<script src="/static/js/jquery.stellar.min.js"></script>
		<!-- Main -->
		<script src="/static/js/main.js"></script>

		<!-- Animate.css -->
		<link rel="stylesheet" href="/static/css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="/static/css/icomoon.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">

		<!-- Magnific Popup -->
		<link rel="stylesheet" href="/static/css/magnific-popup.css">

		<!-- Theme style  -->
		<link rel="stylesheet" href="/static/css/style.css">

		<!-- Modernizr JS -->
		<script src="/static/js/modernizr-2.6.2.min.js"></script>
	</head>

	<body>
		<div id="background"></div>
		<div id="page">
			<nav class="fh5co-nav" role="navigation">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 text-left">
							<div id="fh5co-logo"><a href="/">Queenie</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<%- navBar %>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>

        <div class="about_me animate-box">
            <h1><strong>about me</strong></h1>
            <h3 id="about">Fullstack &amp; iOS developer from San Jose, California</h3>
            <h5>I am a Software Engineer with a passion in the Mean Stack as well as iOS development. I graduated from University of California, Davis with a degree in City Planning. I also graduated from a coding bootcamp in the Silicon Valley. When I'm not coding, you'll find me skating on my longboard.</h5>


	        <div id="progress">
		        <div class="progress">
				  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
				  aria-valuemin="0" aria-valuemax="100" style="width:70%">
				    70% Angular
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
				  aria-valuemin="0" aria-valuemax="100" style="width:50%">
				    50% iOS
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
				  aria-valuemin="0" aria-valuemax="100" style="width:30%">
				    30% Skating
				  </div>
				</div>
				<div class="progress">
				  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30"
				  aria-valuemin="0" aria-valuemax="100" style="width:40%">
				    40% Swearing at my laptop
				  </div>
				</div>
			</div>
            <div id="imgg">
	            <img class="imgg" src="static/images/profile.JPG" class="img-responsive .img-fluid" width=70% height=70% alt="profile_picture">
	        </div>
			 <div>
				<script src="//lightwidget.com/widgets/lightwidget.js"></script>
				<iframe src="//lightwidget.com/widgets/256855bdf2395ff1a7f20dc56b53ecac.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 65%; border: 0; overflow: hidden; margin-left: 15%;">
				</iframe>
			 </div>
		</div>
	</body>
<script>
	$('#myModal').on('shown.bs.modal', function () {
  	$('#myInput').focus()
});
</script>
</html>
