<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Queenie | Fullstack | ios |</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The YPC is composed of emerging leaders in the business community who are dedicated to promoting the level of health care in the County of Santa Clara and addressing the current health-related issues affecting the community. The focus of the Young Professional Council is to raise funds, volunteer, promote community awareness, and build partnerships with the local business community." />
		<meta name="keywords" content="YPC, Young Professional Council, VMC Foundation, Santa Clara County, Santa Clara Valley Medical Center, Women and Children’s Center, Raise funds, volunteer, promote community awareness, build partnerships, young leaders, positive impact, network, goal, expand."/>
		<link rel="icon" href="/static/images/logo/YPC.ico"/>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- jQuery -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="/static/js/jquery.waypoints.min.js"></script>
		<!-- countTo -->
		<script src="/static/js/jquery.countTo.js"></script>
		<!-- Magnific Popup -->
		<script src="/static/js/jquery.magnific-popup.min.js"></script>
		<script src="/static/js/magnific-popup-options.js"></script>
		<!-- Stellar -->
		<script src="/static/js/jquery.stellar.min.js"></script>
		<!-- Main -->
		<script src="/static/js/main.js"></script>

		<!-- Animate.css -->
		<link rel="stylesheet" href="/static/css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="/static/css/icomoon.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="/static/css/bootstrap.css">

		<!-- Magnific Popup -->
		<link rel="stylesheet" href="/static/css/magnific-popup.css">

		<!-- Theme style  -->
		<link rel="stylesheet" href="/static/css/style.css">

		<link rel="stylesheet" href="/static/fonts/devicon-master/devicon-colors.css">

		<link rel="stylesheet" href="/static/fonts/devicon-master/devicon.css">

		<!-- Modernizr JS -->
		<script src="/static/js/modernizr-2.6.2.min.js"></script>
		<script src="https://use.fontawesome.com/7f31552798.js"></script>
	</head>

	<body>	
		<div id="background"></div>
		<div id="page">
			<nav class="fh5co-nav" role="navigation">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 text-left">
							<div id="fh5co-logo"><a href="/">Queenie</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<%- navBar %>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>

		<div class="about_me animate-box">
		<h1><strong>skills</strong></h1>


		<div id="ide">

			<img id="skills" src="static/images/xcode.png" height="8%" width="8%">

			 <i id="skills" class="devicon-amazonwebservices-plain colored"><h5><strong>Amazon Web Services</strong></h5></i>
		</div>



		<div id="language">
			 <i id="skills" class="devicon-javascript-plain colored"></i>
				
			<i id="skills" class="devicon-python-plain colored"></i>

			<i id="skills" class="devicon-html5-plain colored"></i>

			<i id="skills" class="devicon-css3-plain colored"></i>

			<img id="skills" src="static/images/swift.png" height="7%" width="7%">

		<div id="framework">
			 <i id="skills" class="devicon-angularjs-plain colored"><h5><strong>Angular</strong></h5></i>
			 <i id="skills" class="devicon-jquery-plain colored"><h5><strong>Jquery</strong></h5></i>
				

			<img id="skills" src="static/images/flask.png" height="10%" width="10%">

			<i id="skills" class="devicon-nodejs-plain colored"><h5><strong>Node.js</strong></h5></i>

			<img id="skills" src="static/images/express.png" height="7%" width="7%">

			<i id="skills" class="devicon-less-plain-wordmark colored"></i>

			<i id="skills" class="devicon-bootstrap-plain colored"></i>

		</div>

		<div id="database">
			 <i id="skills" class="devicon-mysql-plain colored"><h5><strong>MySql</strong></h5></i>
				
			<i id="skills" class="devicon-mongodb-plain colored"><h5><strong>MongoDB</strong></h5></i>
		</div>


	</body>


</html>